{% extends 'JRsShopBundle::base.html.twig' %}
{% block title %}
    Контакты
{% endblock %}

{% block stylesheets %}
    {{ parent() }} {# Подключение файла main.css #}
    <link rel="stylesheet" href="{{ asset('bundles/jrsshop/css/form.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div id="contact">
    <p>ЧП "БоТи"</p>
    <p>Украина</p>
    <p>г. Черкассы</p>
    <p>тел/факс: (0472) 66-96-12
        66-99-93</p>
    <p>отдел продаж: 068-106-29-60
        096-546-85-46</p>
    </div>
    <div id="form">
    <p>Или свяжитесь с нами заполнив форму:</p>

    <form action="{{ path('j_rs_shop_contacts') }}" method="post" {{ form_enctype(form) }} class="basic">
        {{ form_widget(form) }}


        <div id="submit"><input type="submit" value="Отправить" /></div>
    </form>
    </div>
{% endblock %}